body{
    background-color: rgb(238, 237, 235); ;
}

.container{
    max-width: 500px;
    margin: 0 auto;
}

p{font-family: Georgia, 'Times New Roman', Times, serif;}


.header{ 
    overflow: hidden;
    background-color:;
    padding: 10px;
}

a{
    text-decoration:none;
}
a:hover {
    text-decoration: underline; /* Adds underline on hover */
    color: #ff4500; }
