.container{
    max-width: 500px;
    margin: 0 auto;
}

p{font-family: Georgia, 'Times New Roman', Times, serif;}


#waningg {
    color: rgba(22, 20, 133, 0.77);
}
.header{ 
    overflow: hidden;
    background-color:dar;
    padding: 10px;
}

.homepage{color: white;}

.history{https://gamal491.github.io/harmonic-collection/entry-2/index.html
color: white}

.upload{color:white}