body{
    background-color: lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    max-width: 500px;
    margin: 0 auto;
}


.header{ 
    overflow: hidden;
    background-color:;
    padding: 10px;
}

a{
    text-decoration:none;
}
a:hover {
    text-decoration: underline; /* Adds underline on hover */
    color: #ff4500; }

.smaller-size{
    font-size: 14px;
} 

h1{
    display:flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
