html {
    height: auto;
  }
  
body {
    margin: 0;
    overflow-x: hidden !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(11, 11, 21);
  }

.text {
    font-size: 21px;
    text-decoration: none;
    margin-top: 1em;
    color: azure;
  }

  #main-column {
    position:absolute;
    left:20%;
    height:100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
  }
  
  #main-column .text p, #main-column .text ul {
    max-width: 640px;
  }
  div{
    display: block;
  }
  
  #main-column {
    padding-top:1em;
    font-size: 21px;
    padding-left:15px;
    padding-right:15px;
    box-sizing:border-box;
  }

  #main-column .byline {
    font-weight: bold;
  }

  #main-column .caption {
    font-size: 17px;
    margin-top: .25em;
  }

h1{
    display:flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
p{
    color:aliceblue;
}

body {
    background-color: rgb(11, 11, 21); 
    font-size: 20px;
    font-style:  Georgia, 'Times New Roman', Times, serif;
}

.main{
    display:flex;
    justify-content: center;
}

a{
    text-decoration: underline; /* Adds underline on hover */
    color: aliceblue;
}

.collage {
  position: relative;
  width: 1000px; /* Adjust the width as needed */
  height: 500px; /* Adjust the height as needed */
  margin-top:50px;
}


.photo {
  position: absolute;
  border-radius: 40%;
  overflow: hidden;
  transform-origin:center;
}

.photo img {
    width: 100%; /* Ensure the image fills its container */
    height: auto;
    display: block;
    object-fit:cover;
    opacity: 0.7; /* Adjust the opacity as needed */
}

.p1 {
  mix-blend-mode: screen;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  z-index: 1;
}

.p2 {
  mix-blend-mode: screen;
  top: 30%; /* Adjust the position for overlapping */
  left: 80%; /* Adjust the position for overlapping */
  transform: translate(-50%, -50%);
  z-index: 2;
}

.p3 {
  mix-blend-mode: screen;
  top: 70%; /* Adjust the position for overlapping */
  left: 80%; /* Adjust the position for overlapping */
  transform: translate(-50%, -50%) ;
  z-index: 3;
}

.p4 {
  mix-blend-mode: screen;
  top: 40%; /* Adjust the position for overlapping */
  left: 50%; /* Adjust the position for overlapping */
  transform: translate(-50%, -50%) ;
  z-index: 4;
}

.p5 {
  mix-blend-mode: screen;
  top: 99%; /* Adjust the position for overlapping */
  left: 40%; /* Adjust the position for overlapping */
  transform: translate(-50%, -50%) ;
  z-index: 5;
}

.p6 {
  mix-blend-mode: screen;
  top: 10%; /* Adjust the position for overlapping */
  left: 70%; /* Adjust the position for overlapping */
  transform: translate(-50%, -50%) ;
  z-index: 6;
}


@media (max-width: 768px) {
    body {
      font-size: 30px;}
    .collage{
      width: 500px; /* Adjust the width as needed */
      height: 500px; 
    }}


