.container{
    max-width: 500px;
    margin: 0 auto;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#waningc{
    color: rgba(22, 20, 133, 0.77);
}

.text {
    cursor: pointer;
}
.text:hover {
    color: blue
    
}

.img {
    position:absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, ease
}

.text:hover + .img {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.3s, ease
}


.btn {
    background-color: none;
    color: rgba(22, 20, 133, 0.77);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    /* background-color:  rgb(238, 237, 235); */
    color: blue;
}

.caption {
    position: absolute;
    top: 97%;
    left: 60%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(22, 20, 133, 0.77);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    /* visibility: none; */
    transition: opacity 1.3s; 
    /* visibility 0s 0.3s; */
}

.btn:hover .caption {
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s ease;
}
