body {
    font-size: 16px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lavender;}

img{
    max-width: 100%;
  }

  @media (max-width: 768px) {
    body {
      font-size: 30px;
      background-color: blanchedalmond;}
    }

.container{
    max-width: 500px;
    margin: 0 auto;
}

h1{
  display:flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}
