.container{
    max-width: 500px;
    margin: 0 auto;
}

p{font-family: Georgia, 'Times New Roman', Times, serif;}

.box{
    width: 100%;
    height: 100%;
    background-color: rgba(187, 205, 249, 0.77);
    border: none;
    padding: 10px;
    margin: 10px;
  }
