html {
    height: auto;
  }
  
body {
    margin: 0;
    overflow-x: hidden !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(11, 11, 21);
  }

  #main-column {
    position:absolute;
    left:20%;
    width:80%;
    height:100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
  }
  
  #main-column .text p, #main-column .text ul {
    max-width: 640px;
  }
  
  div{
    display: block;
  }
  
  #main-column {
    padding-top:1em;
    font-size: 21px;
    padding-left:15px;
    padding-right:15px;
    box-sizing:border-box;
  }

body {
    background-color: rgb(11, 11, 21); 
}

img{
    height:100%;
    width:100%;
}

@media (max-width: 768px) {
    img{ height:250px;
        width:250px;
    }}
